// Background Colors
$dark-blue: #212C4F;
$super-dark-blue: #1B233F;
$light-gray: #F0F3F5;

// Text Colors
$dark-green: #205284;
$dark-gray: #5B6175;
$light-blue: #C6D0EB;
$black: #000;
$white: #FFF;

// Button Colors
$purple: #7B42F6;
$violet: #B01EFF;
$pink: #E1467C;
$blue: #3672F8;
$middle-blue: #546BFB;
$teal: #56CCF2;
$green: #A6E1D5;
$turquoise: #14F1D9;
